<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html       th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
            xmlns:th="http://www.thymeleaf.org">
<title>Booking</title>

<!-- <th:block id="home-static-resources">

 </th:block>-->

<div id="home-main-content">
  <h2>List booking</h2>
</div>
