<!DOCTYPE html>

<html
        th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
        xmlns:th="http://www.thymeleaf.org">
<th:block id="home-static-resources">
    <link rel="stylesheet" th:href="@{/css/admin/listActorStyle.css}"
          type="text/css"/>
</th:block>

<title>Danh Sách Diễn Viên</title>


<div id="home-main-content">
    <div class="link-ref shadow mt-3">
        <span>Quản Lý Diễn Viên/</span> <a th:href="@{/actorlist}">Danh Sách Diễn Viên</a>
    </div>
    <div class="content shadow">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" id="form-submit">
            <input aria-label="Search" class="form-control form-control-sm w-75" id="search-name"
                   placeholder="Search" type="text">
            <i class="fas fa-times mr-2" id="icon-deleteAll-text" style="display: none"></i>
            <i aria-hidden="true" class="fas fa-search" style="color: cyan"></i>
        </form>
        <div id="list-idol" >
            <th:block th:each="actor : ${lstActor}">
                <div class="actor-info d-inline-block ml-3 mr-2 mb-1 mt-2">
                    <a th:href="@{/actor/detail/{id}(id=${actor.id})}" class="info-link">
                        <img height="350px"
                             style="max-height: 400px"
                             th:src="${actor.public_url}" width="200px">
                        <div class="name-actor">
                            <span th:text="${actor.name}">.</span>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>
        <div class="pagination mt-4" id="pagination" th:if="${totalPages > 1}">
            <a th:class="${currentPage >  1 ? '' : 'disabled'}" th:href="@{'/actorlist/page/' + ${currentPage - 1 }}">Last</a>
            <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:class="'page-link ' + ${currentPage == i ? 'active disabled ' : ''}" th:href="@{'/actorlist/page/' + ${i}}"
                   >[[${i}]]</a>
            </th:block>
            <a th:class="${currentPage < totalPages ? '' : 'disabled'}" th:href="@{'/actorlist/page/' + ${currentPage + 1}}">Next</a>
        </div>

    </div>
    <script th:src="@{/js/actor/listActor.js}"></script>
</div>