<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<title>Cinema</title>
<th:block id="home-static-resources">
    <link rel="stylesheet" th:href="@{/css/admin/listCinemaStyle.css}" type="text/css"/>
</th:block>

<div id="home-main-content">
    <div class="link-ref shadow mt-3">
        <span>Quản Lý Rạp/</span> <a th:href="@{/list-cinema}">Danh Sách Rạp</a>
    </div>
    <div class="shadow content">
        <div style="text-align: right;">
            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Thêm</a>
            <button class="btn btn-danger" id="btn-delete" type="button">Xóa</button>
        </div>
                <div id="new-search-area"></div>

        <table class="table table-striped" id="datatables" style="width: 100%;">
            <thead class="text-center">
            <tr id="list-header">
                <th scope="col"></th>
                <th scope="col">Tên Rạp</th>
                <th scope="col">Địa Chỉ</th>
                <th scope="col">Dài</th>
                <th scope="col">Rộng</th>
                <th scope="col">người tạo</th>
                <th scope="col">Ngày Tạo</th>
                <th scope="col">người Cập Nhật</th>
                <th scope="col">Ngày Cập Nhật</th>
                <th scope="col"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div aria-hidden="true" aria-labelledby="exampleModalToggleLabel" class="modal fade" id="exampleModalToggle"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Thêm rạp/Cập Nhật</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <form id="formSubmit">
                    <div class="modal-body">
                        <input type="hidden" name="id">
                        <div class="mb-3">
                            <label class="form-label" for="cinema-name">Tên Rạp</label>
                            <input class="form-control" id="cinema-name" name="name" type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="lenght-name">Độ Dài</label>
                            <input class="form-control" id="lenght-name" name="lenght" type="number">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="width-name">Độ Rộng</label>
                            <input class="form-control" id="width-name" name="width" type="number">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="cinema-address">Địa Chỉ</label>
                            <input class="form-control" id="cinema-address" name="address" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-dismiss="modal" id="submit-add-cinema" type="submit">
                            Xác Nhận
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script referrerpolicy="no-referrer"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script>
        const submitAdd = document.getElementById("submit-add-cinema");
        const btn_delete = document.getElementById("btn-delete");
        let table;

        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        btn_delete.addEventListener("click", function (e){
            let tbody = document.getElementsByTagName("tbody");
            let arrayDelete = [];
            document.querySelectorAll("input[type='checkbox']:checked").forEach( element =>{
                arrayDelete.push(+element.value);
            });

            let url = "/api/delete-cinema"
            let json = JSON.stringify(arrayDelete);
             axios.delete(url,{
                headers: {
                    "Content-Type": "application/json"
                },
                 data: json
            }).then( async function (reponse){
                 Swal.fire({
                     icon: 'success',
                     title: '',
                     text: 'Xóa Rạp Thành Công!',
                     timer: 1000
                 });
                 await sleep(1300);
                location.reload();
                return;
            }).catch(function (error){
                alert(error);
            })
        })

        submitAdd.addEventListener("click", function (e) {
            e.preventDefault();
            // TurnOnLoading();
            var data = {};
            var formData = $('#formSubmit').serializeArray();
            $.each(formData, function (i, v) {
                data["" + v.name + ""] = v.value;
            });
            if(data.id == ""){
                submitAdd.innerText ="Thêm";
                addCinema(data);

            }else{
                updateCinema(data);
            }
        });

        async function updateCinema(data){
            var url = "/api/update-cinema";
            let dataJson = JSON.stringify(data);
            axios.put(url, dataJson, {
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(async function (reponse) {
                TurnOfLoading();
                Swal.fire({
                    icon: 'success',
                    title: '',
                    text: 'Cập Nhật Rạp Thành Công!',
                    timer: 1000
                });
                await sleep(1300);
                location.reload();
                return;
            }).catch(function (error) {
                TurnOfLoading();
                Swal.fire({
                    icon: 'error',
                    title: '',
                    text: 'Cập Nhật Rạp Thất Bại!',
                    timer: 1000
                });

            });
        }

        async function addCinema(data) {
            var url = "/api/add-cinema";
            let dataJson = JSON.stringify(data);
            axios.post(url, dataJson, {
                headers: {
                    "Content-Type": "application/json"
                }
            }).then(function (reponse) {
                TurnOfLoading();
                Swal.fire({
                    icon: 'success',
                    title: '',
                    text: 'Thêm Rạp Thành Công!',
                    timer: 1000
                });
                const tr = $(`<tr>
                                <td><input type="checkbox" id="vehicle1" name="vehicle1"></td>
                                <td>${reponse.data.name}</td>
                                <td>${reponse.data.address}</td>
                                <td class="text-center">${reponse.data.lenght}</td>
                                <td class="text-center">${reponse.data.width}</td>
                                <td>${reponse.data.createBy}</td>
                                <td>${reponse.data.createDate}</td>
                                <td>${reponse.data.modifyBy}</td>
                                <td>${reponse.data.modifyDate}</td>
                                <td><a  onclick=updateCinemaView(${reponse.data.id}) class="btn p-0" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="fas fa-tools"></i></a></td>
                              </tr>`);
                table.row.add(tr[0]).draw();
            }).catch(function (error) {
                TurnOfLoading();
                Swal.fire({
                    icon: 'error',
                    title: '',
                    text: 'Thêm Rạp Thất Bại!',
                    timer: 1000
                });
            });
        }

        async function getDataCinema() {
            return new Promise(resolve => {
                let url = "/api/list-cinema";
                axios.get(url)
                    .then(function (response) {
                        let modified = response.data.map((e, index) => {
                            return {
                                id: `<input type="checkbox" id="vehicle1" name="vehicle1" value="${e.id}">`,
                                name: e.name,
                                address: e.address,
                                lenght: e.lenght,
                                width: e.width,
                                createBy: e.createBy,
                                createDate: e.createDate,
                                modifyBy: e.modifyBy,
                                modifyDate: e.modifyDate,
                                detail: `<a  onclick=updateCinemaView(${e.id}) class="btn p-0" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="fas fa-tools"></i></a>`

                                // `<span onclick=updateCinemaView(${e.id})><i class="fas fa-tools"></i></i></span>`
                            }
                        });
                        return resolve(modified);
                    }).catch(function (error) {
                    alert(error);
                });
            });
        }

        async function initDataTable() {
            let datas = await getDataCinema();
            table = $('#datatables').DataTable({
                "pageLength": 5,
                "lengthMenu": [5, 10, 15],
                "oLanguage": {
                    "sSearch": "",
                    "sLengthMenu": "Hiển Thị _MENU_ ",
                    "oPaginate": {
                        "sPrevious": "Trước đó",
                        "sNext": "Tiếp theo"
                    }
                },
                language: {
                    searchPlaceholder: "Tìm kiếm Cinema"
                },
                "bInfo": false,
                "dom": '<"top"i>rt<"bottom"flp><"clear">',
                initComplete: function () {
                    $("#datatables_filter").detach().appendTo('#new-search-area');
                },

                data: datas,
                columns: [
                    {
                        data: 'id',
                    },
                    {data: 'name'},
                    {data: 'address'},
                    {data: 'lenght'},
                    {data: 'width'},
                    {
                        data: 'createBy',
                        "width": "13%",
                    },
                    {
                        data: 'createDate',
                        defaultContent: '',
                        render: function (data, type, row) {
                            if (type === "sort" || type === "type") {
                                return data;
                            }
                            return moment(data).format("MM-DD-YYYY");
                        },
                        "width": "10%",
                    },
                    {
                        data: 'modifyBy',
                        "width": "15%"
                    },
                    {
                        data: 'modifyDate',
                        render: function (data, type, row) {
                            if (type === "sort" || type === "type") {
                                return data;
                            }
                            return moment(data).format("MM-DD-YYYY");
                        },
                        "width": "13%"
                    },
                    {
                        data: 'detail',
                        "width": "5%"
                    },
                ],
            });
        }

        async  function updateCinemaView(id){
            let formsubmit = document.getElementById("formSubmit");
            let url = "api/cinema/"+id;

            axios.get(url).then(function (reponse){
                formsubmit.getElementsByTagName("input")[0].value = reponse.data.id;
                formsubmit.getElementsByTagName("input")[1].value = reponse.data.name;
                formsubmit.getElementsByTagName("input")[2].value = reponse.data.lenght;
                formsubmit.getElementsByTagName("input")[3].value = reponse.data.width;
                formsubmit.getElementsByTagName("input")[4].value = reponse.data.address;
            }).catch(function (error){
                alert(error);
            })
        }

        initDataTable();
    </script>
</div>