<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<title>Rạp</title>
<th:block id="home-static-resources">
    <link rel="stylesheet" th:href="@{/css/admin/listCinemaStyle.css}" type="text/css"/>
</th:block>

<div id="home-main-content">
    <div class="link-ref shadow mt-3">
        <span>Quản Lý Rạp/</span> <a th:href="@{/list-cinema}">Danh Sách Rạp</a>
    </div>
    <div class="shadow content">
        <div style="text-align: right;">
            <a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Thêm</a>
            <button class="btn btn-danger" id="btn-delete" type="button">Xóa</button>
        </div>
                <div id="new-search-area"></div>

        <table class="table table-striped" id="datatables" style="width: 100%;">
            <thead class="text-center">
            <tr id="list-header">
                <th scope="col"></th>
                <th scope="col">Tên Rạp</th>
                <th scope="col">Địa Chỉ</th>
                <th scope="col">Dài</th>
                <th scope="col">Rộng</th>
                <th scope="col">người tạo</th>
                <th scope="col">Ngày Tạo</th>
                <th scope="col">người Cập Nhật</th>
                <th scope="col">Ngày Cập Nhật</th>
                <th scope="col"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div aria-hidden="true" aria-labelledby="exampleModalToggleLabel" class="modal fade" id="exampleModalToggle"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Thêm rạp/Cập Nhật</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <form id="formSubmit">
                    <div class="modal-body">
                        <input type="hidden" name="id">
                        <div class="mb-3">
                            <label class="form-label" for="cinema-name">Tên Rạp</label>
                            <input class="form-control" id="cinema-name" name="name" type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="lenght-name">Độ Dài</label>
                            <input class="form-control" id="lenght-name" name="lenght" type="number">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="width-name">Độ Rộng</label>
                            <input class="form-control" id="width-name" name="width" type="number">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="cinema-address">Địa Chỉ</label>
                            <input class="form-control" id="cinema-address" name="address" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-dismiss="modal" id="submit-add-cinema" type="submit">
                            Xác Nhận
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/cinema/listCinema.js}"></script>
</div>