<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion nav"
    id="accordionSidebar"
    th:fragment="sideBar"
>
    <!-- Sidebar - Brand -->
    <a
            class="sidebar-brand d-flex align-items-center justify-content-center"
            th:href="@{/}"
    >
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" id="tabMovie" onclick="showItem(this)">
        <a aria-controls="collapseTwo"
           aria-expanded="true"
           class="nav-link collapsed d-flex justify-content-between"
           href="#"
        >
            <div>
                <i class="fas fa-film"></i>
                <span>Quản Lý phim</span>
            </div>
            <div class="sb-sidenav-collapse-arrow icon-show">
                <i class="fas fa-angle-right"></i>
            </div>
        </a>
        <div class="tabItem">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link pl-5" th:href="@{/edit-movie}"><i class="fas fa-plus"></i> Thêm Phim</a>
                <a class="nav-link pl-5" th:href="@{/listMovie}"><i class="fas fa-list"></i> Danh sách phim</a>
            </nav>
        </div>
    </li>

    <li class="nav-item" onclick="showItem(this)" >
        <a aria-controls="collapseTwo"
           aria-expanded="true"
           class="nav-link collapsed  d-flex justify-content-between"
           href="#"
        >
            <div>
                <i class="fas fa-users"></i>
                <span>Quản Lý Diễn Viên</span>
            </div>
            <div class="sb-sidenav-collapse-arrow icon-show">
                <i class="fas fa-angle-right"></i>
            </div>
        </a>
        <div class="tabItem">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link pl-5" th:href="@{/edit-actor}"><i class="fas fa-user-plus"></i> Thêm Diễn Viên</a>
                <a class="nav-link pl-5" th:href="@{/actorlist}"><i class="fas fa-user-tag"></i> Danh sách Diễn Viên</a>
            </nav>
        </div>
    </li>

    <!--Rap-->
    <li class="nav-item" onclick="showItem(this)">
        <a aria-controls="collapseTwo"
           aria-expanded="true"
           class="nav-link collapsed  d-flex justify-content-between"
           href="#"
        >
            <div>
                <i class="fas fa-video"></i>
                <span>Quản Lý Rạp</span>
            </div>
            <div class="sb-sidenav-collapse-arrow icon-show">
                <i class="fas fa-angle-right"></i>
            </div>
        </a>
        <div class="tabItem">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link pl-5" th:href="@{/list-cinema}">Danh sách rạp</a>
            </nav>
        </div>
    </li>

    <!--Rap-->
    <li class="nav-item" onclick="showItem(this)">
        <a aria-controls="collapseTwo"
           aria-expanded="true"
           class="nav-link collapsed  d-flex justify-content-between"
           href="#"
        >
            <div>
                <i class="fas fa-fw fa-cog"></i>
                <span>Quản Lý Suất Chiếu</span>
            </div>
            <div class="sb-sidenav-collapse-arrow icon-show">
                <i class="fas fa-angle-right"></i>
            </div>
        </a>
        <div class="tabItem">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link pl-5" th:href="@{/edit-showtime}"><i class="fas fa-plus-square"></i></i>
                    <span>Thêm Suất Chiếu</span></a>
                <a class="nav-link pl-5" th:href="@{/list-showtime}"><i class="fas fa-list-alt"></i></i>
                    <span>Danh Sách Suất Chiếu</span></a>
            </nav>
        </div>
    </li>

    <li class="nav-item" onclick="showItem(this)">
        <a aria-controls="collapseTwo"
           aria-expanded="true"
           class="nav-link collapsed  d-flex justify-content-between"
           href="#"
        >
            <div>
                <i class="fas fa-chart-pie"></i>
                <span>Doanh Thu</span>
            </div>
            <div class="sb-sidenav-collapse-arrow icon-show">
                <i class="fas fa-angle-right"></i>
            </div>
        </a>
        <div class="tabItem">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link pl-5" href="layout-static.html"><i class="fas fa-fw fa-chart-area"></i>
                    <span>Doanh Thu Rạp</span></a>
                <a class="nav-link pl-5" href="layout-sidenav-light.html"><i class="fas fa-chart-line"></i>
                    <span>Doanh Thu Phim</span></a>
            </nav>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block"/>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

