.link-ref{
    padding: 10px 50px;
    width: 90%;
    margin: auto;
}

.link-ref a:hover{
    color: #007bff;
}

.link-ref a{
    color: gray;
}

.content{
    margin: 10px auto;
    padding: 25px;
    width: 90%;
}

#new-search-area {
    width: 100%;
    clear: both;
    padding-top: 20px;
}

#new-search-area input {
    width: 600px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #cecbcba6;
    font-size: 13px;
    padding-left: 20px;

}



#datatables_length {
    margin-top: 15px;
}

table.dataTable{
    border-collapse: collapse;
}

th, td {
    white-space: nowrap;
    border-style: none;
}
div.dataTables_wrapper {
    margin: 0 auto;
}

#datatables .even { background-color: white !important;}
#datatables .odd { background-color: white  !important;}
.table-striped{
    background: white !important;
}

.table{
    color: black;
}

.table-striped tbody tr:nth-of-type(odd){
    background: white;
}

