<!DOCTYPE html>
<html th:replace="~{layouts/auth-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
</head>

<body>

<div class="p-5" id="home-main-content" style="padding-top: 150px !important;">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Quên Mật Khẩu</h1>
    </div>
    <form class="user" method="POST" th:action="@{/forgetpassword}">
        <div class="form-group">
            <input aria-describedby="emailHelp" autofocus
                   class="form-control form-control-user" name="email" placeholder="Email"
                   required type="email">
        </div>
        <div class="alert" th:classappend="'alert-'+${alert}" th:if="${alert != null}">
            <span th:utext="${message}"></span>
        </div>
        <button class="btn btn-primary btn-user btn-block " type="submit">
            Xác Nhận
        </button>
    </form>
    <hr>
    <div class="text-center d-flex justify-content-between">
        <a class="small" th:href="@{/}">Đăng Nhập</a>
    </div>
</div>
</body>

</html>