<!DOCTYPE html>
<html th:replace="~{layouts/auth-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
</head>

<body>

<div class="p-5" id="home-main-content" style="padding-top: 142px !important;">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Đăng Nhập</h1>
    </div>
    <form class="user" method="POST" th:action="@{/j_spring_security_check}">
        <div class="form-group">
            <input aria-describedby="emailHelp" autofocus
                   class="form-control form-control-user" name="email" placeholder="Email"
                   required type="email">
        </div>
        <div class="form-group">
            <input class="form-control form-control-user" name="motdepass"
                   placeholder="Mật Khẩu" required type="password">
        </div>
        <div class="alert alert-danger" th:if="${param.error != null}">
            <span th:utext="${session[message]}"></span>
        </div>
        <button class="btn btn-primary btn-user btn-block " type="submit">
            Đăng Nhập
        </button>
    </form>
    <hr>
    <div class="text-center d-flex justify-content-between">
        <a class="small" href="/register">Tạo Tài Khoản</a>
        <a class="small" href="/forgetpassword">Quên Mật Khẩu?</a>
    </div>
    <div class="login__social">
        <button>
            <a href="/auth/google">
                <i class="fab fa-google"></i>
                Google
            </a>
        </button>
        <button>
            <a href="/auth/facebook">
                <i class="fab fa-facebook-f"></i>
                Facebook
            </a>
        </button>
    </div>
</div>
</body>

</html>