<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<title>Showtime</title>

<th:block id="home-static-resources">
    <link rel="stylesheet" th:href="@{/css/admin/addShowtimeStyle.css}" type="text/css"/>
</th:block>
<div id="home-main-content">
    <div class="link-ref shadow mt-3">
        <span>Quản Lý Suất Chiếu/</span> <a th:if="${showtime == null}" th:href="@{/edit-showtime}">Thêm Suất Chiếu</a>
        <a th:if="${showtime != null}" th:href="@{/list-showtime}">Danh sách Suất Chiếu</a>
        <span th:if="${showtime != null}">/ </span><a th:if="${showtime != null}" th:href="@{/edit-showtime/{id}id=${showtime.id}">Chỉnh Sửa Suất Chiếu</a>
    </div>

    <div class="content shadow">
        <form id="formsubmit">
            <div class="d-flex justify-content-center">
                <div class="mb-3 mr-5 w-25">
                    <label class="form-label" for="startDate">Ngày Bắt Đầu</label>
                    <input class="form-control" id="startDate"  name="startTime" placeholder="Ngày Bắt Đầu"
                           type="datetime-local"
                            th:value="${showtime != null ? #dates.format(showtime.startTime,'yyyy-MM-dd')+'T'+ #dates.format(showtime.startTime,'HH:mm:ss') : ''}">
                </div>
                <div class="mb-3 w-25">
                    <label class="form-label" for="endDate">Ngày Kết Thúc</label>
                    <input class="form-control"  id="endDate" name="endTime" type="datetime-local"
                           th:value="${showtime != null ? #dates.format(showtime.endTime,'yyyy-MM-dd')+'T'+ #dates.format(showtime.endTime,'HH:mm:ss') : ''}">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="mr-5 w-25">
                    <input class="form-control" th:value="${showtime != null ? showtime.cinema.name : ''}" id="cinema" list="listCinema" name="cinemaName" placeholder="Rạp">
                    <datalist id="listCinema">
                        <th:block th:each="c: ${cinema}">
                            <option th:attr="data-value= ${c.id}" th:value="${c.name}">
                        </th:block>
                    </datalist>
                </div>
                <div class="w-25">
                    <input class="form-control " th:value="${showtime != null ? showtime.movie.name : ''}" id="movie" list="listMovie" name="movieName" placeholder="Phim">
                    <datalist id="listMovie">
                        <th:block th:each="m: ${movie}">
                            <option th:attr="data-value= ${m.id}" th:value="${m.name}">
                        </th:block>

                    </datalist>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <div class="mb-3 w-25 mr-5">
                    <input class="form-control" th:value="${showtime != null ? showtime.fare : ''}" id="fare" name="fare" placeholder="Giá Vé" type="number">
                </div>
            </div>
            <input type="hidden" name="id" th:if="${showtime != null}" th:value="${showtime.id}">
            <div class="text-center">
                <button class="btn btn-primary" id="submit" type="submit"
                        th:text="${showtime != null ? 'Cập Nhập' : 'Thêm'}"></button>
            </div>
        </form>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/showtime/editShowtime.js}"></script>
</div>
