<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<th:block id="home-static-resources">
    <link rel="stylesheet" th:href="@{/css/admin/addMovieStyle.css}"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/multiLoad.css}"
          type="text/css"/>
</th:block>

<title th:text="${movie == null ? 'Thêm Phim': 'Cập Nhật Phim'}"></title>
<div id="home-main-content">
    <div class="link-ref shadow mt-3">
        <span>Quản Lý Phim/</span>
        <a th:href="@{/edit-actor}" th:if="${movie == null}">Thêm Phim</a>
        <th:block th:if="${movie != null}">
            <span> / </span><a th:href="@{/listMovie}">Danh sách Phim</a>
            <span> / </span><a th:href="@{/movie/{id}(id=${movie.id})}">Thông tin phim Phim</a>
            <span> / </span><a th:href="@{/edit-movie/{id}(id=${movie.id})}">Chỉnh Sửa phim</a>
        </th:block>
    </div>
    <form enctype="multipart/form-data" id="formSubmit">
        <div class="form-content shadow">
            <div class="d-flex">
                <div class="poster">

                    <div id="avatar">
                        <img height="auto" style="max-height: 350px"
                             th:src="${movie != null ? movie.posterUrl : 'https://via.placeholder.com/300x350'}"
                             width="300px">
                    </div>
                    <div class="input-avatar">
                        <input class="custom-file-poster-input" id="avatarinput"
                               name="avatar"
                               onchange="ImagesFileAsURL()" type="file">
                    </div>


                    <!--multi upload ảnh-->
                    <div class="danndev-reviews">
                        <div class="form_upload">
                            <label class="dandev_insert_attach"><i
                                    class="fas fa-camera"></i><span>Ảnh Mô Tả</span></label>
                        </div>
                        <div class="list_attach">
                            <ul class="dandev_attach_view">
                                <th:block th:if="${movie != null}">
                                    <th:block th:each="image, state : ${movie.image}">
                                        <li th:id="${'li_files_' + state.index}">
                                            <div class="img-wrap">
                                                <span class="close"
                                                      th:attr="onclick=|removeImageDescriptionExists('${'li_files_' + state.index}','${image.publicId}')|">x</span>
                                                <div class="img-wrap-box">
                                                    <img th:src="${image.publicUrl}">
                                                </div>
                                            </div>
                                            <div th:class="${state.index}">
                                                <input class="hidden" onchange="uploadImg(this)"
                                                       th:id="${'file_'+ state.index}" type="file"/>
                                            </div>
                                        </li>
                                    </th:block>
                                </th:block>
                                <li class="li_file_hide" id="li_files_${_time}" th:if="${movie != null}">
                                    <div class="img-wrap">
                                        <span class="close" onclick="DelImg(this)">x</span>
                                        <div class="img-wrap-box"></div>
                                    </div>
                                    <div class="${_time}">
                                        <input class="hidden" id="file_${_time}" name="imageDescription"
                                               onchange="uploadImg(this)"
                                               type="file"/>
                                    </div>
                                </li>
                            </ul>
                            <span class="dandev_insert_attach"><i class="fas fa-plus"
                                                                  style="padding: 20px; border: 1px dashed "></i></span>
                        </div>
                    </div>


                    <!--end multi upload anh-->
                </div>
                <div style="width: 72%;">
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 w-75 mr-2">
                            <label class="form-label" for="name">Tên Phim</label>
                            <input class="form-control" id="name" name="name"
                                   required th:value="${movie != null ? movie.name : ''}" type="text">
                        </div>
                        <div class="mb-3 w-25">
                            <label class="form-label" for="time">Thời lượng</label>
                            <input class="form-control" id="time" name="time"
                                   required th:value="${movie != null ? movie.times : ''}" type="text">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 w-50 mr-2">
                            <label class="form-label" for="openDate">Ngày công chiếu</label>
                            <input class="form-control" id="openDate" name="openDate"
                                   required
                                   th:value="${movie != null ? #dates.format(movie.openDate, 'yyyy-MM-dd') : ''}"
                                   type="date">
                        </div>
                        <div class="mb-3 w-50">
                            <label class="form-label" for="nation">Quốc Gia</label>
                            <input class="form-control" id="nation" name="nation"
                                   required th:value="${movie != null ? movie.nation : ''}" type="text">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <div class="w-50" id="actor">
                            <div class="mt-2 d-flex align-items-center">
                                <input class="form-control" list="actorlst" name="actor" placeholder="Diễn Viên">
                                <datalist id="actorlst">
                                    <th:block th:each="actor : ${lstActor}">
                                        <option th:value="${actor.name}">
                                    </th:block>
                                </datalist>
                                <span class="cursorAdd" onclick="addActor('actor')"><i
                                        class="fas fa-plus"></i></span>
                            </div>
                            <th:block th:if="${movie != null}">
                                <th:block th:each="actorSelect, state : ${movie.actors}">
                                    <div class="mt-2 d-flex align-items-center"
                                         th:id="${state.index+'actor'}">
                                        <input class="form-control" name="actor"
                                               placeholder="Diễn Viên" th:list="${state.index+1}"
                                               th:value="${actorSelect.name}">
                                        <datalist th:id="${state.index+1}">
                                            <th:block th:each="actor : ${lstActor}">
                                                <option th:value="${actor.name}">
                                            </th:block>
                                        </datalist>
                                        <span class="cursorAdd"
                                              th:attr="onclick=|removeElement('${state.index+'actor'}')|"><i
                                                class="fas fa-minus"></i></span>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>

                        <div class="ml-2 w-50" id="category">
                            <div class="mt-2 d-flex align-items-center">
                                <input class="form-control" list="categorylst" name="category"
                                       placeholder="Thể Loại">
                                <datalist id="categorylst">
                                    <th:block th:each="cate : ${lstCategory}">
                                        <option th:value="${cate.name}">
                                    </th:block>
                                </datalist>
                                <span class="cursorAdd" onclick="addCategory('category')"><i
                                        class="fas fa-plus"></i></span>
                            </div>
                            <th:block th:if="${movie != null}">
                                <th:block th:each="movieSelect, state : ${movie.categories}">
                                    <div class="mt-2 d-flex align-items-center"
                                         th:id="${state.index +'cate'}">
                                        <input class="form-control" name="category"
                                               placeholder="Thể Loại" th:list="${state.index+1}"
                                               th:value="${movieSelect.name}">
                                        <datalist th:id="${state.index+1}">
                                            <th:block th:each="cate : ${lstCategory}">
                                                <option th:value="${cate.name}">
                                            </th:block>
                                        </datalist>
                                        <span class="cursorAdd"
                                              th:attr="onclick=|removeElement('${state.index +'cate'}')|"><i
                                                class="fas fa-minus"></i></span>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                    <div id="description" th:utext="${movie != null ? movie.description : ''}">
                        <p>This is some sample content.</p>
                    </div>
                </div>
                <input id="id" name="id" th:if="${movie != null}" th:value="${movie.id}" type="hidden">
            </div>
            <div>
                <div class="input-avatar">
                    <input class="custom-file-video-input" id="videoinput"
                           name="video"
                           onchange="videoFileAsURL()" type="file">
                </div>
                <div id="video">
                    <img height="auto" src="https://via.placeholder.com/1040x500" th:if="${movie == null}"
                         width="auto">
                    <video controls height="auto" style="width: 100%;"
                           th:if="${movie != null}">
                        <source th:src="${movie.trailerUrl}" type="video/mp4">
                    </video>
                </div>
            </div>
            <div style="text-align: center;">
                <button class="btn btn-primary" id="btnadd" style="margin-top: 24px;"
                        th:text="${movie != null ? 'Cập Nhật Phim' : 'Thêm Phim'}"
                >Thêm Phim
                </button>
            </div>
        </div>
    </form>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <script th:src="@{/js/movie/editMovie.js}"></script>
</div>
