<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<th:block id="home-static-resources">
    <link rel="stylesheet" th:href="@{/css/admin/addMovieStyle.css}"
          type="text/css"/>
</th:block>
<title>Helo world</title>
<div id="home-main-content">
    <div class="link-ref shadow">
        <span>Quản Lý Phim/</span>
        <a th:href="@{/edit-actor}" th:if="${idol == null}">Thêm Phim</a>
    </div>
    <form enctype="multipart/form-data" id="formSubmit">
        <div class="form-content shadow">
            <div class="d-flex">
                <div class="poster">
                    <div id="avatar">
                        <img height="auto" src="http://placehold.it/1000x1500"
                             style="max-height: 350px" width="300px">
                    </div>
                    <div class="input-avatar">
                        <input class="custom-file-poster-input" id="avatarinput"
                               name="avatar"
                               onchange="ImagesFileAsURL()" type="file">
                    </div>
                </div>
                <div style="width: 72%;">
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 w-75 mr-2">
                            <label class="form-label" for="name">Tên Phim</label>
                            <input class="form-control" id="name" name="name" required type="text">
                        </div>
                        <div class="mb-3 w-25">
                            <label class="form-label" for="time">Thời lượng</label>
                            <input class="form-control" id="time" name="time" required type="text">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="mb-3 w-50 mr-2">
                            <label class="form-label" for="openDate">Ngày công chiếu</label>
                            <input class="form-control" id="openDate" name="openDate" required type="date">
                        </div>
                        <div class="mb-3 w-50">
                            <label class="form-label" for="nation">Quốc Gia</label>
                            <input class="form-control" id="nation" name="nation" required type="text">
                        </div>
                    </div>
                    <select aria-label="Default select example" class="form-select mb-3">
                        <option selected>Diễn Viên</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>

                    <select aria-label="Default select example" class="form-select mb-3">
                        <option selected>Thể Loại Phim</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div id="biography">
                        <p>This is some sample content.</p>
                    </div>
                </div>
                <input id="id" name="id" th:if="${idol != null}" th:value="${idol.id}" type="hidden">
            </div>
            <div style="text-align: center;">
                <button class="btn btn-primary" id="btnadd" style="margin-top: 24px;"
                >Thêm Phim
                </button>
            </div>
        </div>
    </form>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let editor;
        ClassicEditor
            .create(document.querySelector('#biography'))
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
</div>
