<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<title>Movie</title>
<th:block id="home-static-resources">

    <link rel="stylesheet" th:href="@{/css/admin/listMovieStyle.css}" type="text/css"/>

</th:block>

<div id="home-main-content">
    <div class="link-ref shadow mt-3">
        <span>Quản Lý Diễn Viên/</span> <a th:href="@{/listMovie}">Danh Sách Phim</a>
    </div>
    <div class="shadow movie_content">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" id="form-submit">
            <div style="width: 80%; display: flex; align-items: center">
                <input aria-label="Search" class="form-control form-control-sm" id="search-name"
                       placeholder="Search" style="width: 80%" type="text">
                <div style=" width: 10%; display: flex">
                    <i class="fas fa-times mr-2" id="icon-deleteAll-text" style="display: none; "></i>
                    <i aria-hidden="true" class="fas fa-search" style="color: cyan; "></i>
                </div>
            </div>
            <div>
                <select class="form-select" id="category">
                    <option selected value="0">Tất Cả</option>
                    <th:block th:each="cate : ${lstCategory}">
                        <option th:text="${cate.name}" th:value="${cate.id}">One</option>
                    </th:block>
                </select>
            </div>
        </form>
        <div id="list-movie">
            <th:block th:each="movie : ${listMovie}">
                <div class="movie-info d-inline-block ml-3 mr-2 mb-1 mt-2" th:object="${movie}">
                    <a th:href="@{/movie/{id}(id = *{id})}">
                        <div class="movie-info--img">
                            <img style="height: auto" th:src="*{posterUrl}" width="200">
                        </div>
                        <p th:text="*{name}"></p>
                    </a>
                </div>
            </th:block>
        </div>
        <div class="pagination mt-4" id="pagination">
            <a th:class="${currentPage >  1 ? '' : 'disabled'}" th:href="@{'/listMovie/page/' + ${currentPage - 1 }}">Last</a>
            <th:block th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:class="'page-link ' + ${currentPage == i ? 'active disabled ' : ''}"
                   th:href="@{'/listMovie/page/' + ${i}}"
                >[[${i}]]</a>
            </th:block>
            <a th:class="${currentPage < totalPages ? '' : 'disabled'}"
               th:href="@{'/listMovie/page/' + ${currentPage + 1}}">Next</a>
        </div>
    </div>

    <script th:src="@{/js/movie/listMovie.js}"></script>
</div>
