<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<title>Movie</title>
<th:block id="home-static-resources">

    <link rel="stylesheet" th:href="@{/css/admin/listMovieStyle.css}" type="text/css"/>

</th:block>

<div id="home-main-content">
    <div class="link-ref shadow">
        <span>Quản Lý Diễn Viên/</span> <a th:href="@{/listMovie}">Danh Sách Phim</a>
    </div>
    <div class="shadow movie_content">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" id="form-submit">
            <div style="width: 80%; display: flex; align-items: center">
                <input aria-label="Search" class="form-control form-control-sm" id="search-name"
                       placeholder="Search" style="width: 80%" type="text">
                <div style=" width: 10%; display: flex">
                    <i class="fas fa-times mr-2" id="icon-deleteAll-text" style="display: none; "></i>
                    <i aria-hidden="true" class="fas fa-search" style="color: cyan; "></i>
                </div>
            </div>
            <div>
                <select aria-label="Default select example" class="form-select" id="category">
                    <option selected value="0">Tất Cả</option>
                    <th:block th:each="cate : ${lstCategory}">
                        <option th:text="${cate.name}" th:value="${cate.id}">One</option>
                    </th:block>
                </select>
            </div>
        </form>
        <div id="list-movie">
            <th:block th:each="movie : ${listMovie}">
                <div class="movie-info d-inline-block ml-3 mr-2 mb-1 mt-2" th:object="${movie}">
                    <a th:href="@{/movie/{id}(id = *{id})}">
                        <div class="movie-info--img">
                            <img style="height: auto" th:src="*{posterUrl}" width="200">
                        </div>
                        <p th:text="*{name}"></p>
                    </a>
                </div>
            </th:block>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let input = document.getElementById("search-name");
        let all_delete_text = document.getElementById("icon-deleteAll-text");
        const btnSubmit = document.getElementById("form-submit");


        input.addEventListener("input", (e) => {
            if (e.target.value.length == 0) {
                all_delete_text.style.display = "none"
                findByName("");
            } else {
                all_delete_text.style.display = "block"
            }
        })

        btnSubmit.addEventListener("submit", e => {
            e.preventDefault();
            findByName(input.value)
        })

        all_delete_text.addEventListener("click", e => {
            input.value = '';
            all_delete_text.style.display = "none"
            findByName("");
        })

        async function findByName(name) {
            let divContent = document.getElementById("list-movie");
            let idCategory = document.getElementById("category").value;

            let url = "/api/movie/" + idCategory + "/" + name;
            if (name == '') {
                url = "/api/movie/"+idCategory;
            }
            console.log(url);
            axios.get(url).then(function (response) {
                console.log(response.data);
                let content = response.data.map(element => {
                    return ` <div class="movie-info d-inline-block ml-3 mr-2 mb-1 mt-2">
                    <a href="#">
                        <div class="movie-info--img">
                            <img  src="${element.posterUrl}" width="200" style="height: auto">
                        </div>
                        <p>${element.name}</p>
                    </a>
                </div>`
                });

                divContent.innerHTML = content.join('');
            }).catch(function (error) {
                console.log(error)
            })
        }
    </script>
</div>
