<!DOCTYPE html>

<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                ~{:: #home-main-content}
                                               )}"
      xmlns:th="http://www.thymeleaf.org">
<title>Movie</title>
<th:block id="home-static-resources">

    <link rel="stylesheet" th:href="@{/css/admin/listMovieStyle.css}" type="text/css"/>

</th:block>

<div id="home-main-content">
    <div class="link-ref shadow">
        <span>Quản Lý Diễn Viên/</span> <a th:href="@{/listMovie}">Danh Sách Phim</a>
    </div>
    <div class="shadow movie_content">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" id="form-submit">
            <input aria-label="Search" class="form-control form-control-sm w-75" id="search-name"
                   placeholder="Search" type="text">
            <i class="fas fa-times mr-2" id="icon-deleteAll-text" style="display: none"></i>
            <i aria-hidden="true" class="fas fa-search" style="color: cyan"></i>
        </form>
        <th:block th:each="movie : ${listMovie}">
            <div class="movie-info d-inline-block ml-3 mr-2 mb-1 mt-2" th:object="${movie}">
                <a th:href="@{/movie/{id}(id = *{id})}">
                    <img height="auto" style="max-height: 300px" th:src="*{posterUrl}" width="200">
                    <p th:text="*{name}"></p>
                </a>
            </div>
        </th:block>
    </div>
</div>
